USE [CultureBankDB]
GO


CREATE TABLE [dbo].[Clients](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[ClientNo] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Funds] [float] NULL,
PRIMARY KEY CLUSTERED ([ClientID] ASC),
UNIQUE NONCLUSTERED ([ClientNo] ASC)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[History](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ClientNo] [nvarchar](50) NULL,
	[Operation] [nvarchar](50) NULL,
	[Amount] [float] NULL,
	[LogTime] [datetime] NULL,
PRIMARY KEY CLUSTERED ([ID] ASC)
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[History] ADD  DEFAULT (getdate()) FOR [LogTime]
GO

-- 2. Test Verilerini Ekleyelim (Arkadaşın bunları koymayı unutmuş)
INSERT INTO [dbo].[Clients] (ClientNo, Password, Funds) VALUES 
('1245', '1245', 6400),
('1234', '1234', 3400),
('123456', '123456', 89),
('1240', '1240', 0);
GO

INSERT INTO [dbo].[History] (ClientNo, Operation, Amount) VALUES 
('1245', 'Withdraw', 100),
('1245', 'Transfer to 1240', 400),
('1240', 'Received from 1245', 400),
('123456', 'Deposit', 111);
GO